:root {
    --red: #fe635a;
    --green: #5be058;
    --blue: #97abf4;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--on-background);
}
* {
    font-family: Roboto, sans-serif;
    transition: all 0.1s;
}
h1#title {
    position: relative;
    margin-top: 24px !important;
    width: 100vw;
    text-align: center;
    margin: 0;
    line-height: 42px;
    font-weight: bold;
}
#carousel {
    width: 100vw;
    height: 75vw;
    background: var(--surface-variant);
    position: relative;
    margin-top: 16px;
}
.images-container {
    width: 100vw;
    height: 75vw;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow-x: auto !important;
    display: flex;
    flex-direction: row;
}
#carousel img {
    width: 100vw;
    scroll-snap-align: start;
}
#points-container {
    position: absolute;
    bottom: 8px;
    border-radius: 2534px;
    background: var(--neutral20);
    width: max-content;
    padding: 8px;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    margin: auto;
    gap: 4px;
}

#points-container div {
    width: 8px;
    height: 8px;
    background: var(--neutral50);
    border-radius: 346px;
    transition: 0.3s;
}

#points-container .selected-point {
    background: var(--neutral70);
}
#color-select div {
    width: 24px;
    height: 24px;
    border-radius: 3456px;
    background: black;
    box-sizing: border-box;
    border: 0px solid var(--neutral70);
}
#color-select div.selected-color {
    border-width: 4px;
}
#color-select {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

#available-colors,
#price,
#headline {
    text-align: center;
}

#available-colors {
    font-size: 20px;
    font-weight: 500;
}

#price {
    font-size: 20px;
    font-weight: 700;
}

#headline {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

#body-section {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.details__item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.detail-icon {
    font-size: 32px !important;
}
.detail {
    font-size: 16px;
    line-height: 24px;
}

#buy {
    width: 100%;
    padding: 16px 0;
    border-radius: 534px;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
    background: var(--primary);
}

#buy::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--on-primary);
    z-index: 0;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.1s;
}

#buy::after {
    content: "Acheter";
    z-index: 1;
    color: var(--on-primary);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#buy:active::before {
    opacity: 0.08;
}
